 .material-icons-outlined {
     color: white
 }

 .material-symbols-outlined {
     color: white
 }

 .material-symbols-outlined.md-18 {
     font-size: 18px;
 }

 .material-symbols-outlined.md-24 {
     font-size: 24px;
 }

 .material-symbols-outlined.md-36 {
     font-size: 36px;
 }

 .material-symbols-outlined.md-48 {
     font-size: 48px;
 }
